.experience {
  padding-top: 1rem;
  height: 450px;
  overflow: hidden;
}

.experience .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.7rem;
}

.experience__left {
  background-size: contain;
  background-repeat: no-repeat;
  width: 500px;
}

.experience .experience__left img {
  width: 500px;
  object-fit: contain;
}

.experience__right h3 {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 39px;
  letter-spacing: 0.01em;
  padding-bottom: 0.2rem;
}

.experience__user {
  width: 90px;
  height: 26px;
  padding: 0.4rem 0.8rem;
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  margin-bottom: 40px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.experience__user.vendor__color {
  border: 1px solid rgba(255, 92, 0, 0.4);
  color: #ff5c00;
}

.experience__right p {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.02em;
}

.experience__share {
  margin: 20px auto;
}

.experience__share a {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #fff;
}

.experience__share a.vendor__color {
  color: #ff5c00;
}

/* .experience__share a::after {
  content: "";
  background-image: url("../../images/Vector\ 3.png");
  width: 280px;
  height: 10px;
  display: block;
  margin-top: -6px;
} */